<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>
<body>
    <div style="position: absolute; left: 15%; margin-left: 225px; width: 550px; height: 350px;border: 3px solid black">
     <h1>Poll Simulator</h1>
     <h2>Voting</h2>
     <form method="POST" action="/votecount">
     <h3>Student ID: <input type="text" name="id"> </input> </h3>
     {{#if cans.length}}
        {{#each cans}}
        <input type="radio" name="vote" value={{this.name}}>{{this.name}}</input> <br>
        {{/each}}
     {{/if}}
    <button type="submit" style="margin-left:250px;margin-top:20px;">Submit</button>
       <h4>{{msg}}</h4>
     </form>
     </div>
</body>
</html>